name: Check

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  git-hooks:
    name: pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Config env
        run: |
          curl https://mise.run | sh
          echo 'eval "$(~/.local/bin/mise activate bash --shims)"' >> ~/.bashrc
          source ~/.bashrc
      - name: Add mise to PATH
        run: echo "/home/runner/.local/bin" >> $GITHUB_PATH
      - name: Install infra
        run: |
          mise install
          mise use -g pre-commit
          eval "$(~/.local/bin/mise activate bash --shims)"
      - name: Run check
        run: |
          pre-commit -- run --all-files --hook-stage pre-commit
          pre-commit -- run --all-files --hook-stage pre-push
